.social-block {
    position: relative;
    &:hover {
        .social-block__list {
            opacity: 1;
            pointer-events: auto;
            transition: opacity 0.3s ease-out;
            li {
                animation: fadeInLi 0.3s ease-out;
                @keyframes fadeInLi {
                    0% {
                        opacity: 0;
                        transform: translateY(1rem);
                    }
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
                &:nth-child(2) {
                    animation: fadeInLi 0.3s ease-out 0.2s, fadeInDelay03 0.2s;
                    @keyframes fadeInDelay03 {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 0;
                        }
                    }
                }
                &:nth-child(3) {
                    animation: fadeInLi 0.3s ease-out 0.3s, fadeInDelay06 0.3s;
                    @keyframes fadeInDelay06 {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}

.social-block__toggler {
    @include btn-reset;
    position: relative;
    display: block;
    width: 4rem;
    height: 4rem;
    color: $c-dark;
    border-radius: 50%;
    transition: color 0.3s ease-out;
    @media (max-width: $tablet) and (orientation: portrait) {
        display: none;
    }
    @media (max-width: $mobile) and (orientation: landscape) {
        display: none;
    }
    &::before {
        @include center;
        content: "";
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: $c-light;
        border: 0;
        z-index: -1;
        transition: width 0.3s cubic-bezier(0.24, 0.29, 0.69, 1.8) 0.3s, height 0.3s cubic-bezier(0.24, 0.29, 0.69, 1.8) 0.3s, border 0.3s cubic-bezier(0.24, 0.29, 0.69, 1.8) 0.3s;
    }
    svg {
        @include center;
        display: block;
        width: 2.3rem;
        height: 2.2rem;
        opacity: 0;
        transition: opacity 0.2s cubic-bezier(.49,.8,.81,.53);
    }
    &:hover,
    .social-block--active & {
        color: $c-purple;
        transition: color 0.3s ease-out;
        &::before {
            width: 112.5%;
            height: 112.5%;
            transition: width 0.2s ease-out, height 0.2s ease-out;
        }
    }
    &:focus {
        color: $c-purple;
        outline: none;
        &::before {
            border-color: $c-purple;
        }
        &+.social-block__list {
            opacity: 1;
            pointer-events: auto;
        }
    }
    &:active,
    &:active:focus {
        color: $c-light;
        &::before {
            width: 100%;
            height: 100%;
            background-color: $c-purple;
            border-color: $c-purple;
        }
    }
}

.social-block__list {
    @include list-reset;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 1.5rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out 0.3s;
    @media (min-width: $stop-scaling) {
        margin-top: 15px;
    }
    @media (max-width: $tablet) and (orientation: portrait) {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        opacity: 1;
        pointer-events: auto;
    }
    @media (max-width: $mobile) and (orientation: landscape) {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        opacity: 1;
        pointer-events: auto;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        height: 1.5rem;
        @media (min-width: $stop-scaling) {
            height: 15px;
        }
    }
    &:hover {
        opacity: 1;
        pointer-events: auto;
    }
    &:focus-within {
        opacity: 1;
        pointer-events: auto;
    }
    .social-block--active & {
        opacity: 1;
        pointer-events: auto;
    }
    li {
        flex: none;
        margin-bottom: 0.5rem;
        @media (min-width: $stop-scaling) {
            margin-bottom: 5px;
        }
        @media (max-width: $tablet) and (orientation: portrait) {
            margin: 0 1.25rem;
        }
        @media (max-width: $mobile) and (orientation: landscape) {
            margin: 0 1.25rem;
        }
    }
}

.social-block__link {
    position: relative;
    display: block;
    width: 4rem;
    height: 4rem;
    color: $c-light;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: color 0.3s ease-out;
    @media (min-width: $stop-scaling) {
        width: 40px;
        height: 40px;
    }
    @media (max-width: $tablet) and (orientation: portrait) {
        color: $c-light;
        background-color: $c-dark;
    }
    @media (max-width: $mobile) and (orientation: landscape) {
        color: $c-light;
        background-color: $c-dark;
    }
    &:hover {
        color: $c-purple;
        transition: color 0.3s ease-out;
    }
    &:focus {
        color: $c-purple;
        background-color: $c-light;
        border-color: $c-purple;
        outline: none;
    }
    &:active,
    &:active:focus {
        color: $c-purple;
        background-color: $c-light;
        border-color: $c-light;
    }
    svg {
        @include center;
    }
    &--fb {
        svg {
            width: 0.8rem;
            height: 1.7rem;
            @media (min-width: $stop-scaling) {
                width: 8px;
                height: 17px;
            }
        }
    }
    &--insta {
        svg {
            width: 1.5rem;
            height: 1.5rem;
            @media (min-width: $stop-scaling) {
                width: 15px;
                height: 15px;
            }
        }
    }
    &--vk {
        svg {
            width: 1.7rem;
            height: 1rem;
            @media (min-width: $stop-scaling) {
                width: 10px;
                height: 10px;
            }
        }
    }
}
.load-page {
    .social-block__toggler {
        &::before {
            width: 100%;
            height: 100%;
            border: 2px solid $c-light;
        }
        svg {
            opacity: 1;
        }
    }
}